.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1920px;
    height: 1789px;
    position: relative;
  }
  
  .home .overlap {
    position: absolute;
    width: 634px;
    height: 2556px;
    top: 100px;
    left: -1px;
  }
  
  .home .side-bar {
    position: absolute;
    width: 500px;
    height: 2556px;
    top: 0;
    left: 0;
  }
  
  .home .overlap-group {
    position: absolute;
    width: 410px;
    height: 1100px;
    top: 100px;
    left: 0;
  }
  
  .home .populaire-producten {
    position: absolute;
    width: 410px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    overflow: hidden;
  }
  
  .home .text-wrapper {
    position: absolute;
    top: 12px;
    left: 13px;
    -webkit-text-stroke: 2px #f2777d;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: #eeeeee;
    font-size: 64px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
    border-color: var(--lieve-kadootjeshartje);
  }
  
  .home .div-wrapper {
    position: absolute;
    width: 187px;
    height: 100px;
    top: 500px;
    left: 0;
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    overflow: hidden;
  }
  
  .home .populaire-producten-2 {
    position: absolute;
    width: 348px;
    height: 100px;
    top: 1000px;
    left: 0;
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    overflow: hidden;
  }
  
  .home .populairste {
    position: absolute;
    width: 101px;
    height: 402px;
    top: 99px;
    left: 0;
    background-color: var(--lieve-kadootjesbase);
    overflow: hidden;
  }
  
  .home .frame {
    position: relative;
    width: 100px;
    height: 400px;
    top: 1px;
    left: 50px;
    background-color: #ffffff;
    border-radius: 50px;
  }
  
  .home .frame-wrapper {
    position: absolute;
    width: 101px;
    height: 402px;
    top: 599px;
    left: 0;
    background-color: var(--lieve-kadootjesbase);
    overflow: hidden;
  }
  
  .home .top-populaire {
    position: absolute;
    width: 190px;
    height: 180px;
    top: -90px;
    left: 0;
  }
  
  .home .overlap-group-2 {
    position: relative;
    width: 150px;
    height: 269px;
    top: -78px;
  }
  
  .home .frame-2 {
    position: absolute;
    width: 100px;
    height: 269px;
    top: 0;
    left: 0;
    background-color: var(--lieve-kadootjesbase);
  }
  
  .home .frame-3 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 168px;
    left: 50px;
    background-color: #ffffff;
    border-radius: 50px;
  }
  
  .home .tegeltje-dear-santa {
    position: absolute;
    width: 275px;
    height: 400px;
    top: 1200px;
    left: 50px;
  }
  
  .home .frame-4 {
    position: relative;
    width: 225px;
    height: 300px;
    top: 50px;
    left: 25px;
    background-color: var(--techatoisecties-kaarten);
    border-radius: 50px;
    overflow: hidden;
  }
  
  .home .tegeltje-samen-is {
    position: absolute;
    width: 205px;
    height: 205px;
    top: 10px;
    left: 10px;
    object-fit: cover;
  }
  
  .home .tegeltje-dear-santa-2 {
    position: absolute;
    top: 224px;
    left: 78px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjesbase);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: Truepx;
  }
  
  .home .text-wrapper-2 {
    top: 271px;
    left: 95px;
    position: absolute;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjeshartje);
    font-size: 26px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .tegeltje-samen-is-2 {
    position: absolute;
    width: 275px;
    height: 400px;
    top: 200px;
    left: 50px;
  }
  
  .home .tegeltje-samen-is-3 {
    position: absolute;
    top: 224px;
    left: 52px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjesbase);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: Truepx;
  }
  
  .home .overlap-group-3 {
    width: 36px;
    position: absolute;
    height: 28px;
    top: 271px;
    left: 95px;
  }
  
  .home .text-wrapper-3 {
    top: 0;
    left: 0;
    position: absolute;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjeshartje);
    font-size: 26px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .frame-5 {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 19px;
    left: 17px;
    background-color: var(--lieve-kadootjesbase);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .home .text-wrapper-4 {
    position: absolute;
    top: -11px;
    left: -37px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjesbackground);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .tegeltje-huis-met {
    position: absolute;
    width: 275px;
    height: 400px;
    top: 200px;
    left: 359px;
  }
  
  .home .tegeltje-huisje-met {
    position: absolute;
    top: 224px;
    left: 68px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjesbase);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: Truepx;
  }
  
  .home .overlap-2 {
    position: absolute;
    width: 635px;
    height: 2556px;
    top: 100px;
    left: 1286px;
  }
  
  .home .side-bar-2 {
    position: absolute;
    width: 500px;
    height: 2556px;
    top: 0;
    left: 135px;
    transform: rotate(180deg);
  }
  
  .home .overlap-3 {
    position: absolute;
    width: 322px;
    height: 1100px;
    top: 1356px;
    left: 0;
  }
  
  .home .default-wrapper {
    position: absolute;
    width: 322px;
    height: 100px;
    top: 1000px;
    left: 0;
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    overflow: hidden;
  }
  
  .home .default {
    width: 292px;
    left: 15px;
    position: relative;
    height: 70px;
    top: 15px;
    overflow: hidden;
    transform: rotate(180deg);
  }
  
  .home .text-wrapper-5 {
    position: absolute;
    top: 1px;
    left: -2px;
    -webkit-text-stroke: 2px #f2777d;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: #eeeeee;
    font-size: 64px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
    border-color: var(--lieve-kadootjeshartje);
  }
  
  .home .populaire-producten-3 {
    position: absolute;
    width: 320px;
    height: 100px;
    top: 500px;
    left: 0;
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    overflow: hidden;
  }
  
  .home .meer-ontdekken-wrapper {
    width: 270px;
    left: 25px;
    position: relative;
    height: 70px;
    top: 15px;
    overflow: hidden;
    transform: rotate(180deg);
  }
  
  .home .populaire-producten-4 {
    position: absolute;
    width: 322px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    overflow: hidden;
  }
  
  .home .overlap-group-wrapper {
    position: absolute;
    width: 190px;
    height: 180px;
    top: 2466px;
    left: 0;
  }
  
  .home .huisnummerbord {
    position: absolute;
    width: 275px;
    height: 400px;
    top: 200px;
    left: 0;
  }
  
  .home .p {
    position: absolute;
    top: 224px;
    left: 36px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjesbase);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: Truepx;
  }
  
  .home .overlap-group-4 {
    width: 35px;
    position: absolute;
    height: 28px;
    top: 271px;
    left: 95px;
  }
  
  .home .pyjama-naam-met {
    position: absolute;
    width: 275px;
    height: 400px;
    top: 200px;
    left: 310px;
  }
  
  .home .pyama-naam-met {
    position: absolute;
    top: 224px;
    left: 66px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjesbase);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: Truepx;
  }
  
  .home .overlap-4 {
    position: absolute;
    width: 584px;
    height: 580px;
    top: 120px;
    left: 667px;
  }
  
  .home .tegeltje-kerstboom {
    position: absolute;
    width: 275px;
    height: 400px;
    top: 180px;
    left: 0;
  }
  
  .home .tegeltje-kerstboom-2 {
    position: absolute;
    top: 224px;
    left: 83px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjesbase);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: Truepx;
  }
  
  .home .tegeltje-eigen-tekst {
    position: absolute;
    width: 275px;
    height: 400px;
    top: 180px;
    left: 309px;
  }
  
  .home .tegeltje-eigen-tekst-2 {
    position: absolute;
    top: 224px;
    left: 81px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjesbase);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: Truepx;
  }
  
  .home .logo {
    width: 200px;
    height: 200px;
    top: 0;
    left: 193px;
    position: absolute;
    object-fit: cover;
  }
  
  .home .top-frame {
    position: fixed;
    width: 1922px;
    height: 101px;
    top: -1px;
    left: -1px;
    background-color: var(--lieve-kadootjesbase);
  }
  
  .home .top-bar {
    position: absolute;
    width: 700px;
    height: 50px;
    top: 0;
    left: 611px;
    background-color: var(--lieve-kadootjestext);
    border-radius: 0px 0px 25px 25px;
    overflow: hidden;
    box-shadow: var(--schaduw);
  }
  
  .home .texts {
    position: relative;
    width: 576px;
    height: 31px;
    top: 10px;
    left: 62px;
  }
  
  .home .text-wrapper-6 {
    position: absolute;
    top: -1px;
    left: -11px;
    font-family: "IBM Plex Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--lieve-kadootjeshartje);
    font-size: 24px;
    letter-spacing: 0;
    line-height: Truepx;
  }
  
  .home .text-wrapper-7 {
    position: absolute;
    top: -1px;
    left: 369px;
    font-family: "IBM Plex Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--lieve-kadootjeshartje);
    font-size: 24px;
    letter-spacing: 0;
    line-height: Truepx;
  }
  
  .home .img {
    width: 40px;
    height: 40px;
    top: -4px;
    left: 304px;
    position: absolute;
    object-fit: cover;
  }
  
  .home .navbar {
    position: absolute;
    width: 1362px;
    height: 35px;
    top: 55px;
    left: 50px;
  }
  
  .home .text-wrapper-8 {
    left: 0;
    color: #eeeeee;
    position: absolute;
    top: -1px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .wonen-accessoires {
    position: absolute;
    top: -1px;
    left: 125px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjestextd);
    font-size: 32px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .baby-kids {
    position: absolute;
    top: -1px;
    left: 386px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjestextd);
    font-size: 32px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .text-wrapper-9 {
    left: 580px;
    color: var(--lieve-kadootjestextd);
    position: absolute;
    top: -1px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .text-wrapper-10 {
    left: 727px;
    color: var(--lieve-kadootjestextd);
    position: absolute;
    top: -1px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .text-wrapper-11 {
    left: 894px;
    color: var(--lieve-kadootjestextd);
    position: absolute;
    top: -1px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .text-wrapper-12 {
    position: absolute;
    top: -1px;
    left: 1041px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjestextd);
    font-size: 32px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .text-wrapper-13 {
    position: absolute;
    top: -1px;
    left: 1183px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjestextd);
    font-size: 32px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  
  .home .overlap-5 {
    position: absolute;
    width: 403px;
    height: 78px;
    top: 11px;
    left: 1499px;
  }
  
  .home .cart {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 343px;
  }
  
  .home .search-frame {
    position: absolute;
    width: 363px;
    height: 78px;
    top: 0;
    left: 0;
  }
  
  .home .frame-6 {
    position: relative;
    width: 60px;
    height: 60px;
    top: 9px;
    left: 244px;
    background-color: #fafafabf;
    border-radius: 50px;
    overflow: hidden;
  }
  
  .home .ic-baseline-search {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 5px;
  }
  
  .home .text-wrapper-14 {
    position: absolute;
    width: 70px;
    top: 13px;
    left: -160px;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-weight: 400;
    color: var(--lieve-kadootjestextd);
    font-size: 32px;
    letter-spacing: 0;
    line-height: Truepx;
    white-space: nowrap;
  }
  