.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .div {
    background-color: #ffffff;
    height: 1080px;
    overflow: hidden;
    position: relative;
    width: 1920px;
  }
  
  .home .overlap {
    height: 2556px;
    left: -1px;
    position: absolute;
    top: 100px;
    width: 634px;
  }
  
  .home .side-bar {
    height: 2556px;
    left: 0;
    position: absolute;
    top: 0;
    width: 500px;
  }
  
  .home .overlap-group {
    height: 1100px;
    left: 0;
    position: absolute;
    top: 100px;
    width: 410px;
  }
  
  .home .populaire-producten {
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    height: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 410px;
  }
  
  .home .text-wrapper {
    -webkit-text-stroke: 2px #f2777d;
    border-color: var(--lieve-kadootjeshartje);
    color: #eeeeee;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    white-space: nowrap;
  }
  
  .home .div-wrapper {
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    height: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 500px;
    width: 187px;
  }
  
  .home .populaire-producten-2 {
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    height: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 1000px;
    width: 348px;
  }
  
  .home .populairste {
    background-color: var(--lieve-kadootjesbase);
    height: 402px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 99px;
    width: 101px;
  }
  
  .home .frame {
    background-color: #ffffff;
    border-radius: 50px;
    height: 400px;
    left: 50px;
    position: relative;
    top: 1px;
    width: 100px;
  }
  
  .home .frame-wrapper {
    background-color: var(--lieve-kadootjesbase);
    height: 402px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 599px;
    width: 101px;
  }
  
  .home .top-populaire {
    height: 180px;
    left: 0;
    position: absolute;
    top: -90px;
    width: 190px;
  }
  
  .home .overlap-group-2 {
    height: 269px;
    position: relative;
    top: -78px;
    width: 150px;
  }
  
  .home .frame-2 {
    background-color: var(--lieve-kadootjesbase);
    height: 269px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
  }
  
  .home .frame-3 {
    background-color: #ffffff;
    border-radius: 50px;
    height: 100px;
    left: 50px;
    position: absolute;
    top: 168px;
    width: 100px;
  }
  
  .home .tegeltje-dear-santa {
    height: 400px;
    left: 50px;
    position: absolute;
    top: 1200px;
    width: 275px;
  }
  
  .home .frame-4 {
    background-color: var(--techatoisecties-kaarten);
    border-radius: 50px;
    height: 300px;
    left: 25px;
    overflow: hidden;
    position: relative;
    top: 50px;
    width: 225px;
  }
  
  .home .tegeltje-samen-is {
    height: 205px;
    left: -64px;
    object-fit: cover;
    position: absolute;
    top: -1340px;
    width: 205px;
  }
  
  .home .tegeltje-dear-santa-2 {
    color: var(--lieve-kadootjesbase);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 78px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 224px;
  }
  
  .home .text-wrapper-2 {
    color: var(--lieve-kadootjeshartje);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 26px;
    font-weight: 400;
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 271px;
    white-space: nowrap;
  }
  
  .home .tegeltje-samen-is-2 {
    height: 400px;
    left: 50px;
    position: absolute;
    top: 200px;
    width: 275px;
  }
  
  .home .img {
    height: 205px;
    left: 10px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 205px;
  }
  
  .home .tegeltje-samen-is-3 {
    color: var(--lieve-kadootjesbase);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 224px;
  }
  
  .home .overlap-group-3 {
    height: 28px;
    left: 95px;
    position: absolute;
    top: 271px;
    width: 36px;
  }
  
  .home .text-wrapper-3 {
    color: var(--lieve-kadootjeshartje);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 26px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .home .frame-5 {
    background-color: var(--lieve-kadootjesbase);
    border-radius: 10px;
    height: 1px;
    left: 17px;
    overflow: hidden;
    position: absolute;
    top: 19px;
    width: 1px;
  }
  
  .home .text-wrapper-4 {
    color: var(--lieve-kadootjesbackground);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: -37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -11px;
    white-space: nowrap;
  }
  
  .home .tegeltje-huis-met {
    height: 400px;
    left: 359px;
    position: absolute;
    top: 200px;
    width: 275px;
  }
  
  .home .tegeltje-huisje-met {
    color: var(--lieve-kadootjesbase);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 68px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 224px;
  }
  
  .home .overlap-2 {
    height: 2556px;
    left: 1286px;
    position: absolute;
    top: 100px;
    width: 635px;
  }
  
  .home .side-bar-2 {
    height: 2556px;
    left: 135px;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    width: 500px;
  }
  
  .home .overlap-3 {
    height: 1100px;
    left: 0;
    position: absolute;
    top: 1356px;
    width: 322px;
  }
  
  .home .default-wrapper {
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    height: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 1000px;
    width: 322px;
  }
  
  .home .default {
    height: 70px;
    left: 15px;
    overflow: hidden;
    position: relative;
    top: 15px;
    transform: rotate(180deg);
    width: 292px;
  }
  
  .home .text-wrapper-5 {
    -webkit-text-stroke: 2px #f2777d;
    border-color: var(--lieve-kadootjeshartje);
    color: #eeeeee;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: -2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1px;
    white-space: nowrap;
  }
  
  .home .populaire-producten-3 {
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    height: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 500px;
    width: 320px;
  }
  
  .home .meer-ontdekken-wrapper {
    height: 70px;
    left: 25px;
    overflow: hidden;
    position: relative;
    top: 15px;
    transform: rotate(180deg);
    width: 270px;
  }
  
  .home .populaire-producten-4 {
    background-color: var(--lieve-kadootjesbase);
    border-radius: 0px 50px 50px 0px;
    height: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 322px;
  }
  
  .home .overlap-group-wrapper {
    height: 180px;
    left: 0;
    position: absolute;
    top: 2466px;
    width: 190px;
  }
  
  .home .huisnummerbord {
    height: 400px;
    left: 0;
    position: absolute;
    top: 200px;
    width: 275px;
  }
  
  .home .p {
    color: var(--lieve-kadootjesbase);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 224px;
  }
  
  .home .overlap-group-4 {
    height: 28px;
    left: 95px;
    position: absolute;
    top: 271px;
    width: 35px;
  }
  
  .home .pyjama-naam-met {
    height: 400px;
    left: 310px;
    position: absolute;
    top: 200px;
    width: 275px;
  }
  
  .home .pyama-naam-met {
    color: var(--lieve-kadootjesbase);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 66px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 224px;
  }
  
  .home .tegeltje-kerstboom {
    height: 400px;
    left: 667px;
    position: absolute;
    top: 300px;
    width: 275px;
  }
  
  .home .tegeltje-kerstboom-2 {
    color: var(--lieve-kadootjesbase);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 83px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 224px;
  }
  
  .home .tegeltje-eigen-tekst {
    height: 400px;
    left: 976px;
    position: absolute;
    top: 300px;
    width: 275px;
  }
  
  .home .tegeltje-eigen-tekst-2 {
    color: var(--lieve-kadootjesbase);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 81px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 224px;
  }
  
  .home .logo {
    height: 200px;
    left: 860px;
    object-fit: cover;
    position: absolute;
    top: -235px;
    width: 200px;
  }
  
  .home .top-frame {
    background-color: var(--lieve-kadootjesbase);
    height: 101px;
    left: -1px;
    position: fixed;
    top: -1px;
    width: 1922px;
  }
  
  .home .top-bar {
    background-color: var(--lieve-kadootjestext);
    border-radius: 0px 0px 25px 25px;
    box-shadow: var(--schaduw);
    height: 50px;
    left: 611px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 700px;
  }
  
  .home .texts {
    height: 31px;
    left: 62px;
    position: relative;
    top: 10px;
    width: 576px;
  }
  
  .home .text-wrapper-6 {
    color: var(--lieve-kadootjeshartje);
    font-family: "IBM Plex Sans-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: -11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
  }
  
  .home .text-wrapper-7 {
    color: var(--lieve-kadootjeshartje);
    font-family: "IBM Plex Sans-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 369px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
  }
  
  .home .logo-2 {
    height: 40px;
    left: 304px;
    object-fit: cover;
    position: absolute;
    top: -4px;
    width: 40px;
  }
  
  .home .navbar {
    height: 35px;
    left: 50px;
    position: absolute;
    top: 55px;
    width: 1362px;
  }
  
  .home .text-wrapper-8 {
    color: #eeeeee;
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .home .wonen-accessoires {
    color: var(--lieve-kadootjestextd);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .home .baby-kids {
    color: var(--lieve-kadootjestextd);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 386px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .home .text-wrapper-9 {
    color: var(--lieve-kadootjestextd);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 580px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .home .text-wrapper-10 {
    color: var(--lieve-kadootjestextd);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 727px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .home .text-wrapper-11 {
    color: var(--lieve-kadootjestextd);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 894px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .home .text-wrapper-12 {
    color: var(--lieve-kadootjestextd);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 1041px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .home .text-wrapper-13 {
    color: var(--lieve-kadootjestextd);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 1183px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .home .overlap-4 {
    height: 78px;
    left: 1499px;
    position: absolute;
    top: 11px;
    width: 403px;
  }
  
  .home .cart {
    height: 60px;
    left: 343px;
    position: absolute;
    top: 10px;
    width: 60px;
  }
  
  .home .search-frame {
    height: 78px;
    left: 0;
    position: absolute;
    top: 0;
    width: 363px;
  }
  
  .home .frame-6 {
    background-color: #fafafabf;
    border-radius: 50px;
    height: 60px;
    left: 244px;
    overflow: hidden;
    position: relative;
    top: 9px;
    width: 60px;
  }
  
  .home .ic-baseline-search {
    height: 50px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 50px;
  }
  
  .home .text-wrapper-14 {
    color: var(--lieve-kadootjestextd);
    font-family: "Hello Almeida-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: -160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 70px;
  }
  