:root {
  --lieve-kadootjesbase: rgba(142, 173, 157, 1);
  --lieve-kadootjesbackground: rgba(241, 241, 241, 1);
  --lieve-kadootjestext: rgba(250, 250, 250, 1);
  --lieve-kadootjeshartje: rgba(242, 119, 125, 1);
  --lieve-kadootjestextd: rgba(115, 115, 115, 1);
  --techatoiknoppen: rgba(176, 137, 104, 1);
  --techatoiachtergrond: rgba(248, 248, 248, 1);
  --techatoisecties-kaarten: rgba(237, 237, 237, 1);
  --techatoititels-primair: rgba(0, 0, 0, 1);
  --techatoisecundair: rgba(110, 110, 110, 1);
  --techatoiknoppen-hover: rgba(212, 163, 115, 1);
  --techatoiverzacht-groen: rgba(157, 219, 173, 1);
  --techatoizacht-geel: rgba(233, 196, 106, 1);
  --musicbackground: rgba(248, 248, 248, 1);
  --musicsecties: rgba(217, 217, 217, 1);
  --lieve-kadootjesnlcascade: rgba(142, 173, 157, 1);
  --lieve-kadootjesnldove-gray: rgba(115, 115, 115, 1);
  --lieve-kadootjesnlwhite: rgba(255, 255, 255, 1);
  --neue-haas-hero-font-family: "Neue Haas Grotesk Display Pro", Helvetica;
  --neue-haas-hero-font-weight: 700;
  --neue-haas-hero-font-size: 48px;
  --neue-haas-hero-letter-spacing: 0px;
  --neue-haas-hero-line-height: normal;
  --neue-haas-hero-font-style: normal;
  --neue-haas-sectieknoppen-font-family: "Neue Haas Grotesk Display Pro",
    Helvetica;
  --neue-haas-sectieknoppen-font-weight: 500;
  --neue-haas-sectieknoppen-font-size: 24px;
  --neue-haas-sectieknoppen-letter-spacing: 0px;
  --neue-haas-sectieknoppen-line-height: normal;
  --neue-haas-sectieknoppen-font-style: normal;
  --ibm-subknoppen-font-family: "IBM Plex Sans", Helvetica;
  --ibm-subknoppen-font-weight: 600;
  --ibm-subknoppen-font-size: 18px;
  --ibm-subknoppen-letter-spacing: 0px;
  --ibm-subknoppen-line-height: normal;
  --ibm-subknoppen-font-style: normal;
  --ibm-body-font-family: "IBM Plex Sans", Helvetica;
  --ibm-body-font-weight: 400;
  --ibm-body-font-size: 14px;
  --ibm-body-letter-spacing: 0px;
  --ibm-body-line-height: normal;
  --ibm-body-font-style: normal;
  --neue-haas-knoppen-font-family: "Neue Haas Grotesk Display Pro", Helvetica;
  --neue-haas-knoppen-font-weight: 700;
  --neue-haas-knoppen-font-size: 14px;
  --neue-haas-knoppen-letter-spacing: 0px;
  --neue-haas-knoppen-line-height: normal;
  --neue-haas-knoppen-font-style: normal;
  --roboto-mono-cijfers-font-family: "Roboto Mono", Helvetica;
  --roboto-mono-cijfers-font-weight: 400;
  --roboto-mono-cijfers-font-size: 14px;
  --roboto-mono-cijfers-letter-spacing: 0px;
  --roboto-mono-cijfers-line-height: normal;
  --roboto-mono-cijfers-font-style: normal;
  --neue-haas-labels-bijschriften-font-family: "Neue Haas Grotesk Display Pro",
    Helvetica;
  --neue-haas-labels-bijschriften-font-weight: 400;
  --neue-haas-labels-bijschriften-font-size: 12px;
  --neue-haas-labels-bijschriften-letter-spacing: 0px;
  --neue-haas-labels-bijschriften-line-height: normal;
  --neue-haas-labels-bijschriften-font-style: normal;
  --lieve-kadootjes-nl-inter-regular-upper-font-family: "Inter", Helvetica;
  --lieve-kadootjes-nl-inter-regular-upper-font-weight: 400;
  --lieve-kadootjes-nl-inter-regular-upper-font-size: 21px;
  --lieve-kadootjes-nl-inter-regular-upper-letter-spacing: 0px;
  --lieve-kadootjes-nl-inter-regular-upper-line-height: 21px;
  --lieve-kadootjes-nl-inter-regular-upper-font-style: normal;
  --lieve-kadootjes-nl-lato-regular-upper-font-family: "Lato", Helvetica;
  --lieve-kadootjes-nl-lato-regular-upper-font-weight: 400;
  --lieve-kadootjes-nl-lato-regular-upper-font-size: 21px;
  --lieve-kadootjes-nl-lato-regular-upper-letter-spacing: 0px;
  --lieve-kadootjes-nl-lato-regular-upper-line-height: 31.5px;
  --lieve-kadootjes-nl-lato-regular-upper-font-style: normal;
  --lieve-kadootjes-nl-lato-regular-underline-font-family: "Lato", Helvetica;
  --lieve-kadootjes-nl-lato-regular-underline-font-weight: 400;
  --lieve-kadootjes-nl-lato-regular-underline-font-size: 16px;
  --lieve-kadootjes-nl-lato-regular-underline-letter-spacing: 0px;
  --lieve-kadootjes-nl-lato-regular-underline-line-height: 24px;
  --lieve-kadootjes-nl-lato-regular-underline-font-style: normal;
  --lieve-kadootjes-nl-lato-regular-font-family: "Lato", Helvetica;
  --lieve-kadootjes-nl-lato-regular-font-weight: 400;
  --lieve-kadootjes-nl-lato-regular-font-size: 17px;
  --lieve-kadootjes-nl-lato-regular-letter-spacing: 0px;
  --lieve-kadootjes-nl-lato-regular-line-height: 25.5px;
  --lieve-kadootjes-nl-lato-regular-font-style: normal;
  --lieve-kadootjes-nl-semantic-heading-2-font-family: "Amatic SC", Helvetica;
  --lieve-kadootjes-nl-semantic-heading-2-font-weight: 400;
  --lieve-kadootjes-nl-semantic-heading-2-font-size: 50px;
  --lieve-kadootjes-nl-semantic-heading-2-letter-spacing: 0px;
  --lieve-kadootjes-nl-semantic-heading-2-line-height: 55px;
  --lieve-kadootjes-nl-semantic-heading-2-font-style: normal;
  --lieve-kadootjes-nl-semantic-item-font-family: "Lato", Helvetica;
  --lieve-kadootjes-nl-semantic-item-font-weight: 400;
  --lieve-kadootjes-nl-semantic-item-font-size: 16px;
  --lieve-kadootjes-nl-semantic-item-letter-spacing: 0px;
  --lieve-kadootjes-nl-semantic-item-line-height: 24px;
  --lieve-kadootjes-nl-semantic-item-font-style: normal;
  --lieve-kadootjes-nl-semantic-strong-font-family: "Lato", Helvetica;
  --lieve-kadootjes-nl-semantic-strong-font-weight: 700;
  --lieve-kadootjes-nl-semantic-strong-font-size: 17px;
  --lieve-kadootjes-nl-semantic-strong-letter-spacing: 0px;
  --lieve-kadootjes-nl-semantic-strong-line-height: 25.5px;
  --lieve-kadootjes-nl-semantic-strong-font-style: normal;
  --schaduw: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
