/* Figma Styles of your File */
:root {
    /* Colors */
    --lieve-kadootjes-base: #8ead9d;
    --lieve-kadootjes-background: #f1f1f1;
    --lieve-kadootjes-text: #fafafa;
    --lieve-kadootjes-hartje: #f2777d;
    --lieve-kadootjes-textd: #737373;
    --techatoi-knoppen: #b08968;
    --techatoi-achtergrond: #f8f8f8;
    --techatoi-secties-kaarten: #ededed;
    --techatoi-titels-primair: #000000;
    --techatoi-secundair: #6e6e6e;
    --techatoi-knoppen-hover: #d4a373;
    --techatoi-verzacht-groen: #9ddbad;
    --techatoi-zacht-geel: #e9c46a;
    --music-background: #f8f8f8;
    --music-secties: #d9d9d9;
    --lieve-kadootjesnl-black: #010101;
    --lieve-kadootjesnl-cascade: #8ead9d;
    --lieve-kadootjesnl-cascade-15: rgba(142, 173, 157, 0.15);
    --lieve-kadootjesnl-cerise-red: #e1306c;
    --lieve-kadootjesnl-chambray: #3b5998;
    --lieve-kadootjesnl-conch: #ced7d2;
    --lieve-kadootjesnl-corduroy: #5d615e;
    --lieve-kadootjesnl-corduroy: #62776b;
    --lieve-kadootjesnl-dove-gray: #737373;
    --lieve-kadootjesnl-dove-gray-20: rgba(115, 115, 115, 0.2);
    --lieve-kadootjesnl-dove-gray-30: rgba(115, 115, 115, 0.3);
    --lieve-kadootjesnl-dove-gray-60: rgba(115, 115, 115, 0.6);
    --lieve-kadootjesnl-mercury: #e6e6e6;
    --lieve-kadootjesnl-opal: #acc2b7;
    --lieve-kadootjesnl-silver-chalice: #9d9d9d;
    --lieve-kadootjesnl-white: #ffffff;
    --lieve-kadootjesnl-xanadu: #767b77;
  
    /* Fonts */
    --neue-haas-hero-font-family: NeueHaasGroteskDisplayPro-75Bold, sans-serif;
    --neue-haas-hero-font-size: 48px;
    --neue-haas-hero-line-height: normal;
    --neue-haas-hero-font-weight: 400;
    --neue-haas-hero-font-style: normal;
    --neue-haas-sectieknoppen-font-family: NeueHaasGroteskDisplayPro-65Medium,
      sans-serif;
    --neue-haas-sectieknoppen-font-size: 24px;
    --neue-haas-sectieknoppen-line-height: normal;
    --neue-haas-sectieknoppen-font-weight: 400;
    --neue-haas-sectieknoppen-font-style: normal;
    --ibm-subknoppen-font-family: IbmPlexSans-SemiBold, sans-serif;
    --ibm-subknoppen-font-size: 18px;
    --ibm-subknoppen-line-height: normal;
    --ibm-subknoppen-font-weight: 600;
    --ibm-subknoppen-font-style: normal;
    --ibm-body-font-family: IbmPlexSans-Regular, sans-serif;
    --ibm-body-font-size: 14px;
    --ibm-body-line-height: normal;
    --ibm-body-font-weight: 400;
    --ibm-body-font-style: normal;
    --neue-haas-knoppen-font-family: NeueHaasGroteskDisplayPro-75Bold, sans-serif;
    --neue-haas-knoppen-font-size: 14px;
    --neue-haas-knoppen-line-height: normal;
    --neue-haas-knoppen-font-weight: 400;
    --neue-haas-knoppen-font-style: normal;
    --roboto-mono-cijfers-font-family: RobotoMono-Regular, sans-serif;
    --roboto-mono-cijfers-font-size: 14px;
    --roboto-mono-cijfers-line-height: normal;
    --roboto-mono-cijfers-font-weight: 400;
    --roboto-mono-cijfers-font-style: normal;
    --neue-haas-labels-bijschriften-font-family: NeueHaasGroteskDisplayPro-Regular,
      sans-serif;
    --neue-haas-labels-bijschriften-font-size: 12px;
    --neue-haas-labels-bijschriften-line-height: normal;
    --neue-haas-labels-bijschriften-font-weight: 400;
    --neue-haas-labels-bijschriften-font-style: normal;
    --lieve-kadootjesnl-inter-regular-upper-font-family: Inter-Regular, sans-serif;
    --lieve-kadootjesnl-inter-regular-upper-font-size: 21px;
    --lieve-kadootjesnl-inter-regular-upper-line-height: 21px;
    --lieve-kadootjesnl-inter-regular-upper-font-weight: 400;
    --lieve-kadootjesnl-inter-regular-upper-font-style: normal;
    --lieve-kadootjesnl-lato-regular-upper-font-family: Lato-Regular, sans-serif;
    --lieve-kadootjesnl-lato-regular-upper-font-size: 21px;
    --lieve-kadootjesnl-lato-regular-upper-line-height: 31.5px;
    --lieve-kadootjesnl-lato-regular-upper-font-weight: 400;
    --lieve-kadootjesnl-lato-regular-upper-font-style: normal;
    --lieve-kadootjesnl-lato-regular-underline-font-family: Lato-Regular,
      sans-serif;
    --lieve-kadootjesnl-lato-regular-underline-font-size: 17px;
    --lieve-kadootjesnl-lato-regular-underline-line-height: 25.5px;
    --lieve-kadootjesnl-lato-regular-underline-font-weight: 400;
    --lieve-kadootjesnl-lato-regular-underline-font-style: normal;
    --lieve-kadootjesnl-lato-regular-underline-font-family: Lato-Regular,
      sans-serif;
    --lieve-kadootjesnl-lato-regular-underline-font-size: 19.200000762939453px;
    --lieve-kadootjesnl-lato-regular-underline-line-height: 22.4px;
    --lieve-kadootjesnl-lato-regular-underline-font-weight: 400;
    --lieve-kadootjesnl-lato-regular-underline-font-style: normal;
    --lieve-kadootjesnl-lato-regular-font-family: Lato-Regular, sans-serif;
    --lieve-kadootjesnl-lato-regular-font-size: 19.200000762939453px;
    --lieve-kadootjesnl-lato-regular-line-height: 22.4px;
    --lieve-kadootjesnl-lato-regular-font-weight: 400;
    --lieve-kadootjesnl-lato-regular-font-style: normal;
    --lieve-kadootjesnl-lato-regular-underline-font-family: Lato-Regular,
      sans-serif;
    --lieve-kadootjesnl-lato-regular-underline-font-size: 16px;
    --lieve-kadootjesnl-lato-regular-underline-line-height: 24px;
    --lieve-kadootjesnl-lato-regular-underline-font-weight: 400;
    --lieve-kadootjesnl-lato-regular-underline-font-style: normal;
    --lieve-kadootjesnl-lato-regular-font-family: Lato-Regular, sans-serif;
    --lieve-kadootjesnl-lato-regular-font-size: 16px;
    --lieve-kadootjesnl-lato-regular-line-height: 24px;
    --lieve-kadootjesnl-lato-regular-font-weight: 400;
    --lieve-kadootjesnl-lato-regular-font-style: normal;
    --lieve-kadootjesnl-lato-regular-font-family: Lato-Regular, sans-serif;
    --lieve-kadootjesnl-lato-regular-font-size: 16px;
    --lieve-kadootjesnl-lato-regular-line-height: 22.4px;
    --lieve-kadootjesnl-lato-regular-font-weight: 400;
    --lieve-kadootjesnl-lato-regular-font-style: normal;
    --lieve-kadootjesnl-lato-regular-font-family: Lato-Regular, sans-serif;
    --lieve-kadootjesnl-lato-regular-font-size: 16px;
    --lieve-kadootjesnl-lato-regular-line-height: 19px;
    --lieve-kadootjesnl-lato-regular-font-weight: 400;
    --lieve-kadootjesnl-lato-regular-font-style: normal;
    --lieve-kadootjesnl-lato-regular-font-family: Lato-Regular, sans-serif;
    --lieve-kadootjesnl-lato-regular-font-size: 17px;
    --lieve-kadootjesnl-lato-regular-line-height: 25.5px;
    --lieve-kadootjesnl-lato-regular-font-weight: 400;
    --lieve-kadootjesnl-lato-regular-font-style: normal;
    --lieve-kadootjesnl-semantic-heading-2-font-family: AmaticSc-Regular,
      sans-serif;
    --lieve-kadootjesnl-semantic-heading-2-font-size: 50px;
    --lieve-kadootjesnl-semantic-heading-2-line-height: 55px;
    --lieve-kadootjesnl-semantic-heading-2-font-weight: 400;
    --lieve-kadootjesnl-semantic-heading-2-font-style: normal;
    --lieve-kadootjesnl-semantic-item-font-family: Lato-Regular, sans-serif;
    --lieve-kadootjesnl-semantic-item-font-size: 16px;
    --lieve-kadootjesnl-semantic-item-line-height: 24px;
    --lieve-kadootjesnl-semantic-item-font-weight: 400;
    --lieve-kadootjesnl-semantic-item-font-style: normal;
    --lieve-kadootjesnl-semantic-strong-font-family: Lato-Bold, sans-serif;
    --lieve-kadootjesnl-semantic-strong-font-size: 17px;
    --lieve-kadootjesnl-semantic-strong-line-height: 25.5px;
    --lieve-kadootjesnl-semantic-strong-font-weight: 700;
    --lieve-kadootjesnl-semantic-strong-font-style: normal;
  
    /* Effects */
    --schaduw-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
  